@import '../../scss/vars.scss';

.Item {
  text-align: center;
}

.Segment {
  font-size: 1rem !important;
  padding: 0.5rem !important;
  margin: 1rem 0 !important;
  font-family: $font !important
}

.Editable {
  outline: none;
}

.Current {
  color: $primary;
}